@use '../../styles/variables' as *;

.empty {
  margin: 2em 0 0 1em;

  .span {
    color: $ored;
    font-weight: bold;
    font-size: 115%;
    margin-left: 3px;
  }
}

.stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 0.6rem;
  margin-left: 0.4rem;
}
