$gray-100: #fcfbfb;
$gray-200: #faf9f8;
$gray-300: #f8f7f5;
$gray-400: #f5f3f1;
$gray-500: #dddbd9;
$gray-600: #c4c2c1;
$gray-700: #acaaa9;
$gray-800: #7b7a79;
$gray-900: #494948;
$black:    #020202;
$red: #A30015;
$ored: #ED5736;
$light-yellow: #F8EECE;
$saddlebrown: #8B4513FF;
$medium-purple: #7a6de5;
$athens-gray: #edecf0;
$japonica: #d56a6a;
$koromiko: #cc9a4c;
$royal-blue: #4b5ad8;
$lime-green: #00FC87;
$dark-slate-gray: #4A7077;
$klein-blue: #002FA7;
$zima-blue: rgb(91, 194, 231);
$alice-blue: rgb(240, 248, 255);
$tiffany-blue: rgb(129, 216, 208);
$prussian-blue: rgb(0, 68, 105);
$hooker-green: rgb(74, 122, 110);
$isabelline: rgb(234, 220, 196);
$titian-red: rgb(237, 70, 56);
$scheele-green: rgb(59, 121, 8);
$fuchsia: rgb(228, 0, 127);
$vandyke-brown: rgb(73, 47, 33);
$mummy-brown: rgb(146, 73, 25);
$ivory-white: rgb(255, 251, 240);

$fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
