.header {
  font-size: calc(1rem + 1.2vw);
  text-align: center;
  font-family: Lora, serif;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;

  .filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1px 1px 3rem calc(15rem + 8px);
  }

  .results {
    padding-left: 3em;
    margin: 2rem 14rem 10rem 0;
  }
}
