@use '../../styles/variables' as *;

.container {

  h4 {
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 2rem;
    color: $japonica;
  }

  @media screen and (max-width: 992px) {
    font-size: 1vw;

    h4 {
      font-size: 2.5vw;
    }
  }

  @media screen and (max-width: 768px) {
    font-size: 0.5vw;

    h4 {
      font-size: 1vw;
      margin-bottom: 4px;
    }
  }
}
